<nav class="navbar">
  <div class="navbar__container">

    <!-- Marca -->
    <div class="navbar__brand">
      <a [routerLink]="authService.isAuthenticated() ? '/dashboard/home' : '/landing/home'" class="navbar__logo-link">
        <span class="navbar__logo">❤️</span>
        <span class="navbar__title">MediApp</span>
      </a>
    </div>

    <!-- Botón cerrar sesión -->
    <div class="navbar__actions" *ngIf="authService.isAuthenticated()">
      <button class="btn btn-logout" (click)="logout()">Cerrar sesión</button>
    </div>

  </div>
</nav>